<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="OksaMachineLayer.Properties.Settings.DataSourceConnectionString"
            connectionString="Data Source=89.19.29.253;Persist Security Info=True;User ID=USR140911175333;Password=22Home"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>